{% extends 'IndigoUIBundle:Share:_base.html.twig' %}

{% block profile %}{% endblock %}

{% block content %}
    <div class="error-page">
        <div class="row">
            <div class="large-12 columns">
                <div class="alert-box atention-message col-sm-8 col-sm-offset-2">
                    <span class="sprite sprite-status-atention"></span>
                    <img src="{{ asset('bundles/indigomain/images/error_404.png') }}" class="col-xs-12"/>
                    <h1 class='text-center'>{{ 'web.error.404.title'|trans }}</h1>
                    <p class='text-center'>{{ 'web.error.404.message'|trans ~ ' ' }}<strong><a href='{{ url('indigo_ui_dashboard', {id : 1})  }}'>{{ 'to_dashboard'|trans }}</a></strong></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}