
{% extends 'IndigoUIBundle:Share:_base.html.twig' %}

{% block title %} Indigo - Dashboard {% endblock %}

{% block script %}

    {{ parent() }}

    <script>
        $(document).ready(function()
        {

            var first = true;

            setInterval(function () {

                var status = $.get( "/live/status/1", function(data) {

                    var json = $.parseJSON(data);

                    if(json.isBusy)
                    {
                        $("#widget-state").html("Table is occupied!");
                        $("#widget-title").text(json.contest.title);
                    }
                    else
                    {
                        $("#widget-title").text("TABLE IS FREE!");
                    }

                    if(json.teamA && json.teamB)
                    {
                        $("#widget-score").text(json.teamA.goals + " : " + json.teamB.goals);
                    }
                    else
                    {
                        $("#widget-score").text("0 : 0");
                    }


                    if(first)
                    {
                        first = false;
                        $('#widget-preloader').hide();
                        $('#widget-score').show();
                        $('#widget-state').show();
                    }
                });

            },2000);

        });

    </script>


{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2  col-md-offset-2  col-lg-offset-2" >

                <div class="row">
                    <div class="contest-block" style="background: url({{ currentContest.imageUrl }}) no-repeat center;  background-size: cover;">
                        <div class="info-box reservation-item" >
                            <span class="text-xlg">{{ currentContest.title }} </span></br>
                            <span class="text-bg"> {{ currentContest.dateFrom }} - {{ currentContest.dateTo }} </span></br></br>
                            <span class="text-lg"> {{ currentContest.description }} </span></br>
                            <a href="{{ url('indigo_time_reservation',{contest_id:1}) }}" >
                                <span class="res-button bg-green-m" >Table reservation </span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6 col-xs-12 col-sm-12" style="text-align: center">

                        <a href="{{ url('indigo_ui_live') }}">
                            <div class="stat-panel">
                                <div class="stat-cell bg-orange-m valign-middle">
                                    <span id="widget-preloader" style="position: absolute; width: 24px; height: 24px; background: url({{ asset('bundles/indigoui/images/preloader-rect.gif') }}) no-repeat center"> </span>
                                    <span id="widget-score" class="text-bg" style="display:none"> 0 : 0 </span><br/>
                                    <span id="widget-state" class="text-center-md text-sm" style="display:none"> Table is free </span>
                                </div>
                            </div>
                        </a>

                        {% if nextReservation != null %}
                            <div class="stat-panel" style="height: 80px;">
                                <div class="stat-cell bg-green-sl valign-middle">
                                    <span class="text-lg"> {{ nextReservation.dateStart}} </span><br/>
                                    <span class="text-center-md"> Next reserved table </span>
                                </div>
                            </div>
                        {% endif %}


                        {%  for playerStat in playerTeamsStat %}

                        <div class="stat-panel" style="height: 211px;">
                            <div class="stat-row">
                                <div class="stat-cell bg-green-l darker">

                                    <span>
                                        {% for picture in playerStat.getPictures %}
                                            {% if picture != null %}
                                                <img src="{{ asset(picture) }}" class="img-circle icon-sm border-wide icon-narrow" />
                                            {% endif %}
                                        {% endfor %}
                                    </span><br>

                                    <i class="fa fa-trophy bg-icon" style="font-size:60px;line-height:80px;height:80px;"></i>
                                    <span class="text-lg">Overview</span><br>
                                    <span class="text-sm">Your games statistics</span><br>
                                </div>
                            </div> <!-- /.stat-row -->
                            <div class="stat-row">

                                    <div class="stat-counters bg-green-m no-border-b no-padding text-center">
                                         <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ playerStat.wins }}</strong></span><br>
                                         <span class="text-xs">Wins</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ playerStat.losses }}</strong></span><br>
                                         <span class="text-xs">Loses</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ playerStat.totalGames }}</strong></span><br>
                                        <span class="text-xs">Total</span>
                                    </div>

                                </div> <!-- /.stat-counters -->
                            </div> <!-- /.stat-row -->
                            <div class="stat-row">

                                <div class="stat-counters bg-green-m no-border-b no-padding text-center">
                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ playerStat.scoredGoals }}</strong></span><br>
                                        <span class="text-xs">Goals</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ playerStat.missedGoals }}</strong></span><br>
                                        <span class="text-xs">Missed</span>
                                    </div>

                                    <a href="#" class="stat-cell col-xs-4 bg-green-m padding-sm no-padding-hr valign-middle">
                                        <span class="text-xs font-green-l">MORE&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span>
                                    </a>

                                </div> <!-- /.stat-counters -->
                            </div> <!-- /.stat-row -->
                        </div>

                        <div class="row">


                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-green-sl valign-middle">
                                        <span class="text-xlg"><strong>{{ playerStat.slowestWinGameTs|date("i : s") }} </strong></span><br>
                                        <span class="text-bg">Longest game</span><br>
                                        <span class="text-sm">Hard work pays off!</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-green-sl  valign-middle">
                                        <span class="text-xlg"><strong>{{ playerStat.teamRating }}</strong></span><br>
                                        <span class="text-bg">Team rating</span><br>
                                        <span class="text-sm">You can do better!</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                        </div>



                        <div class="row">


                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-green-sl  valign-middle">

                                        <span class="text-xlg"><strong>{{ playerStat.fastestWinGameTs|date("i : s") }}</strong></span><br>
                                        <span class="text-bg">Fastest win</span><br>
                                        <span class="text-sm">Wow! This is amazing!</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-green-sl  valign-middle">
                                        <span class="text-xlg"><strong>{{ playerStat.getProbabilityOfWin|number_format(1, '.', '') | round(1) }}</strong></span><br>
                                        <span class="text-bg"> POV </span><br>
                                        <span class="text-sm">Probability of winning</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                        </div>
                        {%  endfor  %}
                    </div>

                    {# Right bar #}



                    <div class="col-md-6 col-xs-12 col-sm-12" style="text-align: center">


                        {#<div class="stat-panel" style="height: 90px;">#}
                            {#<div class="stat-cell bg-green-sl valign-middle">#}
                                {#<span class="text-lg"> {{ nextReservation.dateStart}} </span></br>#}
                                {#<span class="text-center-md"> Next reserved table </span>#}
                            {#</div>#}
                        {#</div>#}


                        <div class="stat-panel" style="height: 145px;">
                            <div class="stat-cell bg-blue-d valign-middle">
                                <div class="medal gold-medal-icon"></div>
                                 <span>
                                       {% set team=contestStat.getTopTeam(1) %}
                                       {% for picture in team.getPictures %}
                                           {% if picture != null %}
                                               <img src="{{ asset(picture) }}" class="img-circle icon-sm border-wide icon-narrow" />
                                           {% endif %}
                                       {% endfor %}
                                </span><br>
                                <span class="text-lg"> Contest leaders </span><br>
                                <span class="text-bg">With {{ team.wins }} win and {{ team.teamRating }} pts. </span>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-blue-d valign-middle">

                                        <div class="medal silver-medal-icon"></div>

                                        <span class="text-xlg">
                                            {% set team=contestStat.getTopTeam(2) %}
                                            {% for picture in team.getPictures %}
                                                {% if picture != null %}
                                                    <img src="{{ asset(picture) }}" class="img-circle icon-sm border-thin icon-narrow" />
                                                {% endif %}
                                            {% endfor %}
                                        </span><br>


                                        <span class="text-bg">With {{ team.wins }} win and {{ team.teamRating }} pts..</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-blue-d valign-middle">

                                        <div class="medal bronze-medal-icon"></div>

                                        <span class="text-xlg">
                                            {% set team=contestStat.getTopTeam(3) %}
                                            {% for picture in team.getPictures %}
                                                {% if picture != null %}
                                                    <img src="{{ asset(picture) }}" class="img-circle icon-sm border-thin icon-narrow" />
                                                {% endif %}
                                            {% endfor %}
                                        </span><br>



                                        <span class="text-bg">With {{ team.wins }} win and {{ team.teamRating }} pts.</span>

                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                        </div>


                        <div class="stat-panel" style="height: 211px;">
                            <div class="stat-row">
                                <div class="stat-cell bg-blue-l darker">
                                    <i class="fa fa-trophy bg-icon" style="font-size:60px;line-height:80px;height:80px;"></i>
                                    <span class="text-lg">Overview</span><br>
                                    <span class="text-sm">Contest games statistics</span><br>
                                </div>
                            </div> <!-- /.stat-row -->
                            <div class="stat-row">

                                <div class="stat-counters bg-blue-m no-border-b no-padding text-center">
                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ contestStat.totalGames }}</strong></span><br>
                                        <span class="text-xs">Games</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ contestStat.totalTeams }}</strong></span><br>
                                        <span class="text-xs">Teams</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ contestStat.totalGoals }}</strong></span><br>
                                        <span class="text-xs">Goals</span>
                                    </div>

                                </div> <!-- /.stat-counters -->
                            </div> <!-- /.stat-row -->
                            <div class="stat-row">

                                <div class="stat-counters bg-blue-m no-border-b no-padding text-center">
                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ contestStat.fastestGameDuration|date("i : s") }}</strong></span><br>
                                        <span class="text-xs">Fastest game</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>{{ contestStat.slowestGameDuration|date("i : s") }}</strong></span><br>
                                        <span class="text-xs">Slowest game</span>
                                    </div>

                                    <a href="#" class="stat-cell col-xs-4 bg-blue-m padding-sm no-padding-hr valign-middle">
                                        <span class="text-xs font-blue-l">MORE&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span>
                                    </a>

                                </div> <!-- /.stat-counters -->
                            </div> <!-- /.stat-row -->
                        </div>




                    </div>

                </div>

                {% if nextContest.imageUrl != null %}

                <div class="row no-gutter">
                    <div class="contest-block" style="background: url({{ nextContest.imageUrl }}) no-repeat center;  background-size: cover;">
                        <div class="info-box" >
                            <h1> {{ nextContest.Title }} </h1>
                            <h3> {{ nextContest.description }} </h3>
                            <label > Jau greitai!!! </label>
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>

        </div>
        </div>

{% endblock %}