
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ asset('bundles/indigomain/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/indigoui/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/indigomain/css/pixel-admin.min.css') }}">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ asset('bundles/indigomain/js/pixel-admin.min.js') }}"></script>
    <script src="{{ asset('bundles/indigomain/css/bootstrap.min.css') }}"></script>


</head>


<body>
<div class="dashboard">

    <div class="container-fluid">

        <div class="row padding-sm-vr">

            <div class="col-sm-8 col-md-8 col-lg-6 col-sm-offset-2  col-md-offset-2  col-lg-offset-3" >

                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-primary">Open league</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown&nbsp;<i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">NFQ contest</a></li>
                            <li><a href="#">Speed contest</a></li>
                            <li><a href="#">Speed contest</a></li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-6 col-sm-offset-2  col-md-offset-2  col-lg-offset-3" >

                <div class="row no-gutter">
                    <div class="contest-block" style="background: url({{ currentContest.imageUrl }}) no-repeat center;  background-size: cover;">
                        <div class="info-box" >
                            <span class="text-xlg">{{ currentContest.title }} </span></br>
                            <span class="text-bg"> {{ currentContest.dateFrom }} - {{ currentContest.dateTo }} </span></br></br>
                            <span class="text-lg"> {{ currentContest.description }} </span></br>
                            <button class="bg-green-m"> Table reservation </button>
                        </div>
                    </div>
                </div>


                <div class="row">


                    <div class="col-md-6 col-xs-12 col-sm-12" style="text-align: center">

                        {% if nextReservation != null %}
                            <div class="stat-panel" style="height: 80px;">
                                <div class="stat-cell bg-green-sl valign-middle">
                                    <span class="text-lg"> {{ nextReservation.dateStart}} </span></br>
                                    <span class="text-center-md"> Next reserved table </span>
                                </div>
                            </div>
                        {% endif %}




                        <div class="stat-panel" style="height: 211px;">
                            <div class="stat-row">
                                <div class="stat-cell bg-green-l darker">

                                    <span>
                                    <img src="{{ asset('bundles/indigoui/images/bilas.png') }}" class="img-circle icon-sm border-wide icon-narrow">
                                    <img src="{{ asset('bundles/indigoui/images/clinton.png') }}" class="img-circle icon-sm border-wide icon-narrow">
                                    </span><br>

                                    <i class="fa fa-trophy bg-icon" style="font-size:60px;line-height:80px;height:80px;"></i>
                                    <span class="text-lg">Overview</span><br>
                                    <span class="text-sm">Your games statistics</span><br>
                                </div>
                            </div> <!-- /.stat-row -->
                            <div class="stat-row">

                                    <div class="stat-counters bg-green-m no-border-b no-padding text-center">
                                         <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>12</strong></span><br>
                                         <span class="text-xs">Wins</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>17</strong></span><br>
                                         <span class="text-xs">Loses</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>49</strong></span><br>
                                        <span class="text-xs">Total</span>
                                    </div>

                                </div> <!-- /.stat-counters -->
                            </div> <!-- /.stat-row -->
                            <div class="stat-row">

                                <div class="stat-counters bg-green-m no-border-b no-padding text-center">
                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>203</strong></span><br>
                                        <span class="text-xs">Goals</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>1056</strong></span><br>
                                        <span class="text-xs">Missed</span>
                                    </div>

                                    <a href="#" class="stat-cell col-xs-4 bg-green-m padding-sm no-padding-hr valign-middle">
                                        <span class="text-xs font-green-l">MORE&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span>
                                    </a>

                                </div> <!-- /.stat-counters -->
                            </div> <!-- /.stat-row -->
                        </div>

                        <div class="row">


                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-green-sl valign-middle">
                                        <span class="text-xlg"><strong>4 sec.</strong></span><br>
                                        <span class="text-bg">Fastest Goal</span><br>
                                        <span class="text-sm">Wow! This is amazing!</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-green-sl  valign-middle">
                                        <span class="text-xlg"><strong>1240</strong></span><br>
                                        <span class="text-bg">Team rating</span><br>
                                        <span class="text-sm">You can do better!</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                        </div>



                        <div class="row">


                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-green-sl  valign-middle">
                                        <span class="text-xlg"><strong>4 sec.</strong></span><br>
                                        <span class="text-bg">Fastest win</span><br>
                                        <span class="text-sm">Wow! This is amazing!</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-green-sl  valign-middle">
                                        <span class="text-xlg"><strong>0.4</strong></span><br>
                                        <span class="text-bg"> PoF </span><br>
                                        <span class="text-sm">Probability of winning</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                        </div>

                    </div>

                    {# Right bar #}



                    <div class="col-md-6 col-xs-12 col-sm-12" style="text-align: center">

                        <a href="{{ path('indigo_ui_live', {'id' : 0}) }}">
                        <div class="stat-panel" style="height: 80px;">
                            <div class="stat-cell {% if isTableBusy %}bg-red-m {% else %} bg-green-sl {% endif %} valign-middle">

                                <div class="counter-separated counter-lg">
                                    <span> {{ teamAScore }} </span>
                                    <span> {{ teamBScore }}</span>
                                </div>
                                </br>
                                <span class="text-bg">

                                    {% if isTableBusy %}
                                        Table is occupied
                                    {% else %}
                                        Table is available
                                    {% endif %}


                                </span>
                            </div>
                        </div>

                            </a>


                        <div class="stat-panel" style="height: 145px;">
                            <div class="stat-cell bg-blue-d valign-middle">
                                <div class="medal gold-medal-icon"></div>
                                 <span>
                                    <img src="{{ asset('bundles/indigoui/images/bilas.png') }}" class="img-circle icon-md border-wide icon-narrow">
                                    <img src="{{ asset('bundles/indigoui/images/clinton.png') }}" class="img-circle icon-md border-wide icon-narrow">
                                </span><br>
                                <span class="text-lg"> Contest leaders </span><br>
                                <span class="text-bg"> 1250 pts. </span>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-blue-d valign-middle">

                                        <div class="medal silver-medal-icon"></div>

                                        <span class="text-xlg">
                                            <img src="{{ asset('bundles/indigoui/images/bilas.png') }}" class="img-circle border-thin icon-sm icon-narrow">
                                            <img src="{{ asset('bundles/indigoui/images/clinton.png') }}" class="img-circle border-thin icon-sm icon-narrow">
                                        </span><br>


                                        <span class="text-bg">1250 pts.</span>
                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="stat-panel">
                                    <div class="stat-cell bg-blue-d valign-middle">

                                        <div class="medal bronze-medal-icon"></div>

                                        <span class="text-xlg">
                                            <img src="{{ asset('bundles/indigoui/images/bilas.png') }}" class="img-circle icon-sm border-thin icon-narrow ">
                                            <img src="{{ asset('bundles/indigoui/images/clinton.png') }}" class="img-circle icon-sm border-thin icon-narrow ">
                                        </span><br>


                                        <span class="text-bg">1250 pts.</span>

                                    </div> <!-- /.stat-cell -->
                                </div>
                            </div>

                        </div>


                        <div class="stat-panel" style="height: 211px;">
                            <div class="stat-row">
                                <div class="stat-cell bg-blue-l darker">
                                    <i class="fa fa-trophy bg-icon" style="font-size:60px;line-height:80px;height:80px;"></i>
                                    <span class="text-lg">Overview</span><br>
                                    <span class="text-sm">Contest games statistics</span><br>
                                </div>
                            </div> <!-- /.stat-row -->
                            <div class="stat-row">

                                <div class="stat-counters bg-blue-m no-border-b no-padding text-center">
                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>12</strong></span><br>
                                        <span class="text-xs">Wins</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>17</strong></span><br>
                                        <span class="text-xs">Loses</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>49</strong></span><br>
                                        <span class="text-xs">Total</span>
                                    </div>

                                </div> <!-- /.stat-counters -->
                            </div> <!-- /.stat-row -->
                            <div class="stat-row">

                                <div class="stat-counters bg-blue-m no-border-b no-padding text-center">
                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>203</strong></span><br>
                                        <span class="text-xs">Goals</span>
                                    </div>

                                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                        <span class="text-bg"><strong>1056</strong></span><br>
                                        <span class="text-xs">Missed</span>
                                    </div>

                                    <a href="#" class="stat-cell col-xs-4 bg-blue-m padding-sm no-padding-hr valign-middle">
                                        <span class="text-xs font-blue-l">MORE&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span>
                                    </a>

                                </div> <!-- /.stat-counters -->
                            </div> <!-- /.stat-row -->
                        </div>




                    </div>

                </div>

                <div class="row no-gutter">
                    <div class="contest-block" style="background: url({{ nextContest.imageUrl }}) no-repeat center;  background-size: cover;">
                        <div class="info-box" >
                            <h1> {{ nextContest.Title }} </h1>
                            {#<h3> {{ nextContest.Description }} </h3>#}
                            <label > Jau greitai!!! </label>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        </div>
    </div>

</div>
</body>
</html>





