{% extends "IndigoMainBundle:Pixel:pages-create-contest.html.twig" %}

{% block title %}{{ 'create_contest.form.contest_creation'|trans }}{% endblock%}

{% block contest_top %}
    {{ 'create_contest.success.contest'|trans|capitalize }}
{% endblock %}

{% block contest_left %}
    {% if formData %}
        {% set image_path = "contest-logo.jpg" %}
        {% if attribute(formData[0], 'path_for_image') %}
            {% set image_path = attribute(formData[0], 'path_for_image') %}
        {% endif %}

        {{ asset('uploaded_images/contest/%s'|format(image_path)) }}
    {% endif %}
{% endblock %}

{% block contest_right %}
    {% if formData %}
        <p>
            {{ 'create_contest.form.contest_title'|trans }}: <strong>{{ formData[0].contestTitle }}</strong>
        </p>

        <p>
            {{ 'create_contest.success.contest'|trans }}:
            {% if formData[0].contestPrivacy %}
                <strong>{{ 'create_contest.success.privacy.yes'|trans }}</strong>
            {% else %}
                <strong>{{ 'create_contest.success.privacy.no'|trans }}</strong>
            {% endif %}
        </p>

        <p>
            {{ 'create_contest.form.contest_type'|trans }}:
            {% if formData[0].contestType %}
                <strong>{{ 'create_contest.form.contest_type.team'|trans }}</strong>
            {% else %}
                <strong>{{ 'create_contest.form.contest_type.single'|trans }}</strong>
            {% endif %}
        </p>

        <p>
            {{ 'create_contest.form.table_name'|trans }}: <strong>{{ formData[0].tableName }}</strong>
        </p>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <strong>{{ flashMessage }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block contest_bottom %}
    <div class="alert alert-danger">
        <strong>{{ 'create_contest.error.no_contest'|trans }}</strong>
    </div>
{% endblock %}
