<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block style %}
        <link href="{{ asset('bundles/indigomain/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/indigoui/css/main.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/indigomain/css/pixel-admin.min.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

    <title>{% block title %}{% endblock %} Indigo </title>

</head>
<body>

<div id="wrapper">


<div id="header">

    <div class="container-fluid">
        <div class="row padding-sm valign-middle">

            <div class=" col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2" style="min-width: 500px">

                <div class="nav-left">

                    <div class="btn-group btn-group-lg" style="top: 5px;">
                        <a class="btn btn-contest-select" href="{{ url('indigo_ui_dashboard', {id : 1})  }}">Open contest</a>

                        <div class="btn-group">
                            <button type="button" class="btn btn-contest-select dropdown-toggle" data-toggle="dropdown">
                                <img id="preloader" src="{{ asset('bundles/indigoui/images/preloader.gif') }}" style="width: 15px; height: 15px; margin-left: -5px; margin-right: 5px;">
                                Select other contest &nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">

                            </ul>
                        </div>
                    </div>

                </div>

                <div class="nav-right">

                    <span class="nav-user-icon">
                        <a href="{{ url('user_edit',{id: app.security.getToken().getUser().getId() }) }}" >
                            <img src="{{ asset(app.security.getToken().getUser().getPicture()) }}" class="img-circle icon-xs border-thin icon-narrow">
                        </a>
                    </span>

                    <span class="nav-user-info">
                        <span class="text-sm">{{ app.security.getToken().getUser().getUsername() }} </span></br>
                        <a class="text-sm nav-logout" href="{{ url('logout_action') }}"> Logout </a>  </span>
                    </span>

                </div>

            </div>
        </div>
    </div>

</div>

<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        </br>Indigo team.
    {% endblock %}
</div>

</div>

{% block script %}

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ asset('bundles/indigomain/js/pixel-admin.min.js') }}"></script>
    <script src="{{ asset('bundles/indigomain/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function()
        {
            var status = $.get( "{{ url('contest_list') }}", function(data) {

                var json = $.parseJSON(data);

                $(".dropdown-menu").html("");

                if(json)
                {
                    for(i = 0; i < json.length; i++)
                    {
                        var url = '{{ url('indigo_ui_dashboard', {id : '_id' }) }}';
                        url = url.replace('_id', json[i].id);

                        item =  "<li><a href='"+ url +"'> " + json[i].title + " </a></li>"
                        $(".dropdown-menu").append(item);
                    }
                }

                $("#preloader").hide();
            });
        });



    </script>

{% endblock %}

</body>
</html>