{% extends 'IndigoUserBundle:Mail:base.html.twig' %}

{%  block mail_subject %}
    {{ 'user.notice.password_reminder'|trans }}
{% endblock %}

{% block mail_text %}
    <h2>{{ 'hello'|trans|capitalize }}!</h2>
    <p>{{ 'user.notice.request'|trans }}</p>
    <p>{{ 'user.notice.change_your_password'|trans }}: <a href="{{ link }}">{{ 'change'|trans }}</a></p>
    {{ parent() }}
{% endblock %}
