{% extends 'IndigoUIBundle:Share:_base.html.twig' %}

{% block title %} Indigo - Dashboard {% endblock %}

{% block content %}

    {% for game in games %}
        <div>
        scores:{{ game.team0Score }} : {{ game.team1Score }} <br/>
        {# team ratings:{{ game.team0Rating }} : {{ game.team1Rating }} <br/> #}
        duration:{{ game.gameDuration|date("i : s")  }}  <br/>

        {% for picture in game.team0playersPictures %}
            {%  if picture != null %}
                <img src="{{ asset(picture) }}" class="img-circle icon-sm border-wide icon-narrow" />
            {%  endif %}
        {% endfor %}

        VS
        {% for picture in game.team1playersPictures %}
            {%  if picture != null %}
                <img src="{{ asset(picture) }}" class="img-circle icon-sm border-wide icon-narrow" />
            {%  endif %}
        {% endfor %}
        </div>
    {%  endfor %}

{% endblock %}