{% extends 'IndigoUIBundle:Share:_base.html.twig' %}

{% block title %}{{ 'create_contest.form.contest_creation'|trans }}{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('bundles/indigomain/bower_components/bootstrap-fileinput/css/fileinput.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/indigomain/bower_components/eternicode-bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/indigomain/bower_components/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/indigomain/bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css') }}" rel="stylesheet" type="text/css"/>

    <style>
        .panel{
            color:#555;
        }
        .panel label{
            padding-right:5px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>{{ 'create_contest.form.contest_creation'|trans }}</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>{{ 'create_contest.form.contest_creation'|trans }}</strong></h3>
                </div>
                <div class="panel-body">
                {{ form_start(form) }}
                {{ form_row(form.user) }}
                {{ form_row(form.contestTitle) }}
                {{ form_row(form.image) }}
                {{ form_row(form.tableName) }}
                {{ form_row(form.contestType) }}
                {{ form_row(form.scoreLimit) }}
                <div class="form-group">
                    <label class="col-sm-2 control-label required">{{ 'period'|trans }}</label>
                    <div class="col-sm-10">
                        <div class="input-daterange input-group date" id="datepicker">
                            {{ form_widget(form.contestStartingDate) }}
                            <span class="input-group-addon">{{ 'to'|trans|lower }}</span>
                            {{ form_widget(form.contestEndDate) }}
                        </div>
                    </div>
                </div>
                {#<div class="form-group">
                    <label class="col-sm-2 control-label required">{{ 'create_contest.form.contest_privacy'|trans }}</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.contestPrivacy, {'attr' : {'data-on-text' : 'yes'|trans, 'data-off-text' : 'no'|trans}}) }}
                    </div>
                </div>#}
                <div class="form-group">
                    <label class="col-sm-2 control-label required"></label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#optionalPrize">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'add_prize'|trans }} ({{ 'optional'|trans }})
                        </button>
                    </div>
                </div>
                <div id="optionalPrize" class="collapse">
                    {{ form_row(form.prize) }}
                    {{ form_row(form.prizeImage) }}
                </div>
                {{ form_end(form) }}
                </div>
            </div>
            <a href="{{ path('contest') }}" title="{{ 'back_to_the_list'|trans }}" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ 'back_to_the_list'|trans }}
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('bundles/indigomain/bower_components/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/indigomain/bower_components/bootstrap-fileinput/js/fileinput_locale_') }}{{ app.request.getLocale() }}.js"></script>

    <script src="{{ asset('bundles/indigomain/bower_components/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/indigomain/bower_components/eternicode-bootstrap-datepicker/js/locales/bootstrap-datepicker.') }}{{ app.request.getLocale() }}.js"></script>
    <script src="{{ asset('bundles/indigomain/bower_components/bootstrap-switch-master/dist/js/bootstrap-switch.min.js') }}"></script>

    <script src="{{ asset('bundles/indigomain/bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js') }}"></script>

    <script>
        $('#indigo_contestbundle_contest_scoreLimit').bootstrapSlider({});

        /* Initialize your widget via javascript as follows */
        $(".contestLogo").fileinput({
            previewFileType: "image",
            browseClass: "btn btn-success",

            browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
            removeClass: "btn btn-danger",

            removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
            uploadClass: "btn btn-info",

            uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
            layoutTemplates: {
                main1: "{preview}\n" +
                "<div class=\'input-group {class}\'>\n" +
                "   <div class=\'input-group-btn\'>\n" +
                "       {browse}\n" +
                "       {upload}\n" +
                "       {remove}\n" +
                "   </div>\n" +
                "   {caption}\n" +
                "</div>"
            },
            showCaption: false,
            showRemove: true,
            showUpload: false,
            allowedFileExtensions: ["jpg", "gif", "png", "jpeg"],
            overwriteInitial: true,
            initialPreview: [
                "<img src='{{ asset(imagePath) }}' class='file-preview-image' alt='*'>"
            ],
            maxFileSize: 1000
        });

        $(".contestPrizeImages").fileinput({
            previewFileType: "image",
            browseClass: "btn btn-success",

            browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
            removeClass: "btn btn-danger",

            removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
            uploadClass: "btn btn-info",

            uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
            layoutTemplates: {
                main1: "{preview}\n" +
                "<div class=\'input-group {class}\'>\n" +
                "   <div class=\'input-group-btn\'>\n" +
                "       {browse}\n" +
                "       {upload}\n" +
                "       {remove}\n" +
                "   </div>\n" +
                "   {caption}\n" +
                "</div>"
            },
            showCaption: false,
            showRemove: true,
            showUpload: false,
            allowedFileExtensions: ["jpg", "gif", "png", "jpeg"],
            overwriteInitial: true,
            {% if prizeImagePath %}
            initialPreview: [
                "<img src='{{ asset(prizeImagePath) }}' class='file-preview-image' alt='*'>"
            ],
            {% endif %}
            maxFileSize: 3000
        });

        $(".input-daterange").datepicker({
            todayHighlight: true,
            autoclose: false,
            language: '{{ app.request.getLocale() }}',
            startDate: new Date()
        });

        $('.privacySwitchButton').bootstrapSwitch();
        </script>
{% endblock %}
