{% extends 'IndigoMainBundle:Pixel:pages-create-contest.html.twig' %}

{% block title %}{{ 'create_contest.form.contest_creation'|trans }}{% endblock %}

{% block body -%}
    <h1>{{  'contest'|trans }}</h1>
<div class="table-light">
    <div class="table-header">
        <div class="table-caption">
            {{ entity.contestTitle|capitalize }}
        </div>
    </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{{ 'creator'|trans }}</th>
                <td>{% if entity.user %}{{ entity.user.username }}{% endif %}</td>
            </tr>
            <tr>
                <th class="vertical-center">{{ 'create_contest.form.contest_logo'|trans }}</th>
                <td>
                    {% if entity.pathForImage %}
                        {% set pathForImage = entity.pathForImage %}
                    {% else %}
                        {% set pathForImage = "contest-logo.jpg" %}
                    {% endif %}

                    <img src="{{ asset('uploads/contest/') }}{{ pathForImage }}" alt="*" width="100" title="{{ entity.contestTitle|capitalize }}"/>
                </td>
            </tr>
            <tr>
                <th>{{ 'create_contest.form.table_name'|trans|capitalize }}</th>
                <td>{{ entity.tableName|capitalize }}</td>
            </tr>
            <tr>
                <th>{{ 'contest_privacy'|trans }}</th>
                <td>
                    {% if entity.contestPrivacy %}
                        {{ 'create_contest.success.privacy.yes'|trans|capitalize }}
                    {% else %}
                        {{ 'create_contest.success.privacy.no'|trans|capitalize }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'create_contest.form.contest_type'|trans }}</th>
                <td>
                    {% if entity.contestType %}
                        {{ 'create_contest.form.contest_type.team'|trans }}
                    {% else %}
                        {{ 'create_contest.form.contest_type.single'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'create_contest.form.contest_starting_date'|trans }}</th>
                <td>{{ entity.contestStartingDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{ 'create_contest.form.contest_end_date'|trans }}</th>
                <td>{{ entity.contestEndDate|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>
</div>

<a href="{{ path('contest', { 'id': entity.id }) }}" title="{{ 'show'|trans }}" class="btn btn-default">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ 'back_to_the_list'|trans }}
</a>
<a href="{{ path('contest_delete', { 'id': entity.id }) }}" title="{{ 'delete'|trans }}" class="pull-right btn btn-danger">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'delete'|trans }}
</a>
<a href="{{ path('contest_edit', { 'id': entity.id }) }}" title="{{ 'show'|trans }}" class="pull-right btn btn-success" style="margin-right:5px;">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ 'edit'|trans }}
</a>
{% endblock %}
