{% extends 'IndigoUIBundle:Share:_base.html.twig' %}

{% block title %}{{ 'contest'|trans }}{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('bundles/indigomain/bower_components/bootstrap-lightbox/bootstrap-lightbox.min.css') }}" rel="stylesheet" type="text/css"/>

    <style>
        table tbody tr td{
            background: none repeat scroll 0 0 #FAFAFA;
        }
        table tbody tr th{
            background: none repeat scroll 0 0 #EBEBEB;
        }
        table tbody tr td, table tbody tr th, h4.modal-title, .bootbox-body{
            color: #555;
        }
        table tbody tr th.vertical-center{
            vertical-align: middle !important;
        }

    </style>
{% endblock %}

{% block content -%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>{{ 'contest'|trans }}</h1>
            <div class="table-light">
                <div class="table-header">
                    <div class="table-caption">
                        {{ entity.contestTitle|capitalize }}
                    </div>
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>{{ 'creator'|trans }}</th>
                            <td>{% if entity.user %}{{ entity.user.username }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="vertical-center">{{ 'create_contest.form.contest_logo'|trans }}</th>
                            <td>
                                {% if entity.pathForImage %}
                                    {% set pathForImage = entity.pathForImage %}
                                {% else %}
                                    {% set pathForImage = constant('Indigo\\ContestBundle\\Entity\\Contest::DEFAULT_CONTEST_URL') %}
                                {% endif %}

                                <a data-toggle="lightbox" data-title="{{ 'create_contest.form.contest_logo'|trans }} | {{ entity.contestTitle|capitalize }}" href="{{ asset(pathForImage) }}">
                                    <img src="{{ asset(pathForImage) }}" alt="*" width="100px" title="{{ entity.contestTitle|capitalize }}"/>
                                </a>
                            </td>
                        </tr>
                        {#<tr>
                            <th>{{ 'contest_privacy'|trans }}</th>
                            <td>
                                {% if entity.contestPrivacy %}
                                    {{ 'create_contest.success.privacy.yes'|trans|capitalize }}
                                {% else %}
                                    {{ 'create_contest.success.privacy.no'|trans|capitalize }}
                                {% endif %}
                            </td>
                        </tr>#}
                        <tr>
                            <th>{{ 'create_contest.form.contest_type'|trans }}</th>
                            <td>
                                {% if entity.contestType %}
                                    {{ 'create_contest.form.contest_type.team'|trans }}
                                {% else %}
                                    {{ 'create_contest.form.contest_type.single'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'create_contest.form.scoreLimit'|trans }}</th>
                            <td>{{ entity.scoreLimit }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'create_contest.form.contest_starting_date'|trans }}</th>
                            <td>{{ entity.contestStartingDate|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'create_contest.form.contest_end_date'|trans }}</th>
                            <td>{{ entity.contestEndDate|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'prize'|trans }}</th>
                            <td>
                                {% if entity.prize %}
                                    {{ entity.prize }}
                                {% else %}
                                    {{ 'no_prize'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="vertical-center">{{ 'prize_photo'|trans }}</th>
                            <td>
                                {% if entity.pathForPrizeImage %}
                                    <a data-toggle="lightbox" data-title="{{ 'prize_photo'|trans }} | {{ entity.contestTitle|capitalize }}" href="{{ asset(entity.pathForPrizeImage) }}">
                                        <img src="{{ asset(entity.pathForPrizeImage) }}" alt="*" width="100px" title="{{ entity.contestTitle|capitalize }}"/>
                                    </a>
                                {% else %}
                                    {{ 'no_prize_photo'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <a href="{{ path('contest', { 'id': entity.id }) }}" title="{{ 'back_to_the_list'|trans }}" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> {{ 'back_to_the_list'|trans }}
            </a>
            {% if entity.user.__toString == user_id %}
                <a href="{{ path('contest_delete', { 'id': entity.id }) }}" title="{{ 'delete'|trans }}" class="pull-right btn btn-danger delete-button">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'delete'|trans }}
                </a>
                <a href="{{ path('contest_edit', { 'id': entity.id }) }}" title="{{ 'edit'|trans }}" class="pull-right btn btn-success" style="margin-right:5px;">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ 'edit'|trans }}
                </a>
            {% endif %}
          </div>
     </div>
</div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('bundles/indigomain/bower_components/bootstrap-lightbox/bootstrap-lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/indigomain/js/bootbox.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('.delete-button').click(function (e) {
                var _this = $(this);
                e.preventDefault();
                bootbox.dialog({
                    message: '{{ 'ask_for_delete'|trans }}',
                    buttons: {
                        danger: {
                            label: '{{ 'no'|trans }}',
                            className: "btn-default",
                            callback: function () {
                            }
                        },
                        success: {
                            label: '{{ 'yes'|trans }}',
                            className: "btn-danger",
                            callback: function () {
                                location.href = _this.attr('href');
                            }
                        }
                    }
                });

                return false;
            });
        });

        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock %}
