<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ asset('bundles/indigomain/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/indigoui/css/main.css') }}" />

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="{{ asset('bundles/indigomain/js/bootstrap.min.js') }}"></script>


    <script src="{{ asset('bundles/indigoui/js/jquery.transit.min.js') }}"></script>


</head>

<script>

    var _lastScoreTeamA = 0;
    var _lastScoreTeamB = 0;
    var _firstTime = true;

    $(document).ready(function()
    {
        setInterval(function () {

            var status = $.get( "/live/status/1", function(data) {

                var json = $.parseJSON(data);

                if(json.isBusy)
                {
                    $("#ajax-table-status").html("Table is occupied!");
                    $("#ajax-table-status").addClass('busy');
                }
                else
                {
                    $("#ajax-table-status").html("Table is free!");
                    $("#ajax-table-status").removeClass('busy');
                }

                $("#contest-title").html(json.contest.title);

                if(!_firstTime) {

                    if (json.showGreetingMessage) {
                        $('#not-goal-msg').hide();

                        if (json.lastWinnerTeam) {
                            $("#win-player-1").attr("src", json.lastWinnerTeam.player1.imageUrl + "?" + new Date().getTime());
                            $("#win-player-2").attr("src", json.lastWinnerTeam.player2.imageUrl + "?" + new Date().getTime());
                            $("#win-score").text(json.lastWinnerTeam.score);
                        }

                        $("#not-wrapper").show().fadeIn(1000, function () {
                            $('#not-congrats').show().fadeIn(1000)
                        });
                    }
                    else {

                        $("#not-wrapper").fadeOut(2000, function () {
                            $('#not-congrats').hide();
                        });

                        if (json.teamA.goals > _lastScoreTeamA) {
                            $('#not-congrats').hide();
                            $("#not-wrapper").show();
                            $('#not-goal-msg').show().effect("bounce", "fast");

                            $("#not-wrapper").fadeOut(2000, function () {
                                $('.teamA').transition({rotateY: '0deg'});
                                $('.teamA').transition({rotateY: '360deg'});
                            });
                        } else if (json.teamB.goals > _lastScoreTeamB) {
                            $('#not-congrats').hide();
                            $("#not-wrapper").show();
                            $('#not-goal-msg').show().effect("bounce", "fast");

                            $("#not-wrapper").fadeOut(2000, function () {
                                $('.teamB').transition({rotateY: '0deg'});
                                $('.teamB').transition({rotateY: '360deg'});
                            });
                        }
                    }
                }
                _firstTime = false;

                _lastScoreTeamA = json.teamA.goals;
                _lastScoreTeamB = json.teamB.goals;

                $("#scoreA").html(json.teamA.goals);
                $("#scoreB").html(json.teamB.goals);
                $("#scoreLimit").text(json.contest.limit);
                $("#player1-img").attr("src", json.teamA.player1.imageUrl + "?" + new Date().getTime());
                $("#player2-img").attr("src", json.teamA.player2.imageUrl + "?" + new Date().getTime());
                $("#player3-img").attr("src", json.teamB.player1.imageUrl + "?" + new Date().getTime());
                $("#player4-img").attr("src", json.teamB.player2.imageUrl + "?" + new Date().getTime());

                if(json.reservations)
                {
                    for(var ind = 0; ind < json.reservations.length; ind++)
                    {
                        if(json.reservations[ind])
                        {
                            var imgUrl = json.reservations[ind].whoIsReservedImageUrl;

                            if(json.reservations[ind].status == 'Reserved')
                            {
                                $('#reserv-itm-cont-' + ind).addClass('bg-color-reserved');
                                $('#reserv-itm-cont-' + ind).removeClass('bg-color-not-reserved');

                                if(!imgUrl)
                                {
                                    imgUrl = "/bundles/indigoui/images/anonymous.png";
                                }

                                $('#reserv-itm-img-' + ind).attr("src", imgUrl + "?" + new Date().getTime());
                                $('#reserv-itm-img-' + ind).show();
                            }
                            else
                            {
                                $('#reserv-itm-cont-' + ind).removeClass('bg-color-reserved');
                                $('#reserv-itm-cont-' + ind).addClass('bg-color-not-reserved');
                                $('#reserv-itm-img-' + ind).attr("src", "#");
                                $('#reserv-itm-img-' + ind).hide();
                            }

                            var strTime = json.reservations[ind].time;
                            var strStatus = json.reservations[ind].status;
                            var imgUrl = json.reservations[ind].whoIsReservedImageUrl;
                            $('#reserv-itm-time-' + ind).text( strTime );
                            $('#reserv-itm-status-' + ind).text( strStatus );
                        }
                        else
                        {

                        }
                    }

                }
            });

        },2000);

    });

</script>

<body>

        <div id="not-wrapper" class="container">

        <div id="not-goal-msg"> </div>

            <span id="not-congrats">
                    <span id="not-end-msg" class="text-uxl font-orange-l"> CONGRATULATIONS! </span></br>
                    <span id="player-images">
                        <img id="win-player-1" class="img-round bg-semi-we padding-md" width="150" src="#"/>
                        <img id="win-player-2" class="img-round bg-semi-we padding-md" width="150" src="#"/>
                    </span></br>
                <span class="text-xl"> Won the fight </span></br>
                <span id="win-score" class="text-uxxl score-font font-orange-l">  </span></br>
                <span id="info-message" class="text-xl"> Please double swipe or continue playing new game </span>
            </span>


</div>

        {% if app.user %}
            <a href={{ url('indigo_ui_dashboard', {id : 1}) }} class="dashboard-link"> My dashboard </a>
        {% endif %}

    <div class="container-fluid bg-gradient full-height">
        <div class="row padding-sm">

            <div class=" col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 content">

                <div class="row top-margin">
                    <span id="contest-title" class="title"> {{ contest.title}} </span><br />
                    <span id="ajax-table-status" class="table-status"> Checking  table status... </span>
                </div>

                <div class="score-container">
                    <div id="scoreA"  class="score score-font" > {{ teamA.goals }}  </div>
                    <div id="scoreB" class="score score-font" >  {{ teamB.goals }} </div>
                    <div id="scoreLimit"  class="score-limit score-font" > {{ contest.limit }}  </div>
                </div>



                <div class="field">

                    <img class="bg" src="{{ asset('bundles/indigoui/images/field2.png') }}"/>

                        <div id="player1" class="teamA player left-top">
                            <img id="player1-img" src="{{ teamA.player1.imageUrl }}"/>
                        </div>

                        <div class="teamA player left-bottom">
                               <img id="player2-img" src="{{ teamA.player2.imageUrl }}"/>
                        </div>


                    <div class="teamB player right-top">
                        {% if teamB.player1 != null %}
                            <img id="player3-img" src="{{ teamB.player1.imageUrl }}"/>
                        {% endif %}
                        {#<p> {{ player1.name }} </p>#}
                    </div>

                    <div class="teamB player right-bottom">
                            <img id="player4-img" src="{{ teamB.player2.imageUrl }}"/>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">

            <div class=" col-xs-4 col-sm-3 col-md-2 col-sm-offset-2 col-md-offset-3 ">

                <div id="reserv-itm-cont-0"
                     class="reserv-item-cont text-center reserv-item-left
                    {% if reservations[0].status == "Reserved" %}
                        bg-color-reserved
                        {% else %}
                        bg-color-not-reserved
                    {% endif %}">

                    <span class="text-md"> Now </span></br>
                    <span id="reserv-itm-time-0" class="time-text"> {{ reservations[0].time }} </span><br>
                    <span id="reserv-itm-status-0" class="text-md"> {{  reservations[0].status }} </span></br></br>
                        <span style="height: 100px">
                            <img id="reserv-itm-img-0" src="#" class="img-circle icon-sm border-wide icon-narrow" hidden="">
                        </span>

                </div>

            </div>

            <div class="col-xs-4 col-sm-3 col-md-2">

                <div id="reserv-itm-cont-1"
                     class="reserv-item-cont text-center
                     {% if reservations[1].status == "Reserved" %}
                        bg-color-reserved
                     {% else %}
                        bg-color-not-reserved
                     {% endif %}" >

                    <span class="text-md"> Next </span></br>
                    <span id="reserv-itm-time-1" class="time-text"> {{ reservations[1].time }} </span><br>
                    <span id="reserv-itm-status-1" class="text-md"> {{  reservations[1].status }} </span></br></br>
                    <span style="height: 100px">
                        <img id="reserv-itm-img-1" src="#" class="img-circle icon-sm border-wide icon-narrow" hidden="">
                    </span>
                </div>

            </div>

            <div class="col-xs-4 col-sm-3 col-md-2">

                <div id="reserv-itm-cont-2"
                     class="reserv-item-cont text-center reserv-item-right
                    {% if reservations[2].status == "Reserved" %}
                        bg-color-reserved
                        {% else %}
                        bg-color-not-reserved
                    {% endif %}">

                    <span class="text-md"> Later </span></br>
                    <span id="reserv-itm-time-2" class="time-text"> {{ reservations[2].time }} </span><br>
                    <span id="reserv-itm-status-2" class="text-md"> {{  reservations[2].status }} </span></br></br>
                    <span style="height: 100px">
                        <img id="reserv-itm-img-2" src="#" class="img-circle icon-sm border-wide icon-narrow" hidden="">
                    </span>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
