{#{% extends "IndigoMainBundle:Pixel:base.html.twig" %}#}

<link rel="stylesheet" href="{{ asset('bundles/indigomain/css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/indigoui/css/main.css') }}" />
<srip src="{{ asset('bundles/indigomain/js/bootstrap.min.js') }}"></srip>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<script>

    $(document).ready(function()
    {
        setInterval(function () {

            var status = $.get( "/live/status", function(data) {
                var json = $.parseJSON(data);
                $("#ajax-table-status").html(json.status);
                $("#scoreA").html(json.score.teamA);
                $("#scoreB").html(json.score.teamB);
                $("#player1-img").attr("src", json.players[0].imageUrl + "?" + new Date().getTime());
                $("#player2-img").attr("src", json.players[1].imageUrl + "?" + new Date().getTime());
                $("#player3-img").attr("src", json.players[2].imageUrl + "?" + new Date().getTime());
                $("#player4-img").attr("src", json.players[3].imageUrl + "?" + new Date().getTime());
            });

        },5000);

    });

</script>


{% block content%}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2">  </div>
            <div class="col-md-8 content">


                <div class="title">
                    <h1> Here goes the content title </h1>
                    <h4> Liko 24d 15 val.</h4>
                </div>


                <div class="row " >
                    <div class="col-xs-12">
                       <span id="ajax-table-status" class="table-status"> Stalas užimtas </span>
                    </div>
                </div>

                <div id="scoreA"  class="score" >
                    {{ score.teamA }}
                </div>
                <div id="scoreB" class="score" >
                    {{ score.teamB }}
                </div>

                <div class="field">

                    <img class="bg" src="{{ asset('bundles/indigoui/images/field2.png') }}"/>

                        <div id="player1" class="player left-top">
                            {% if player1 != null %}
                                <img id="player1-img" src="{{ player1.imageUrl }}"/>
                            {% endif %}
                            {#<p> {{ player1.name }} </p>#}
                        </div>

                        <div class="player left-bottom">
                            {% if player2 != null %}
                               <img id="player2-img" src="{{ player2.imageUrl }}"/>
                                {% endif %}
                            {#<p> {{ player1.name }} </p>#}
                        </div>


                    <div class="player right-top">
                        {% if player3 != null %}
                                <img id="player3-img" src="{{ player3.imageUrl }}"/>
                        {% endif %}
                        {#<p> {{ player1.name }} </p>#}
                    </div>

                    <div class="player right-bottom">
                        {% if player4 != null %}
                            <img id="player4-img" src="{{ player4.imageUrl }}"/>
                        {% endif %}
                        {#<p> {{ player1.name }} </p>#}
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

        <div class="col-md-2">  </div>
        <div class="col-md-8 center">

         <div class="reservation-item {% if reservations[0].isReserved %} booked {% endif %}">
            <div class="res-title">
                {% if reservations[0].isReserved == true %}
                    Stalas rezervuotas
                {% else %}
                    Stalas laisvas
                {% endif %}
                            </div>

                            <div class="res-time"> {{ reservations[0].timeFrom}} - {{ reservations[0].timeTo }} </div>

                            {% if reservations[0].isReserved == false %}
                    <button class="res-button"> Rezervuoti </button>
                {% endif %}
        </div>

        <div class="reservation-item {% if reservations[1].isReserved %} booked {% endif %}">

            <div class="res-title">
                {% if reservations[1].isReserved == true %}
                    Stalas rezervuotas
                {% else %}
                    Stalas laisvas
                {% endif %}
            </div>

            <div class="res-time"> {{ reservations[1].timeFrom}} - {{ reservations[1].timeTo }} </div>

            {% if reservations[1].isReserved == false %}
                <button class="res-button"> Rezervuoti </button>
            {% endif %}

        </div>

        <div class="reservation-item {% if reservations[2].isReserved  %} booked {% endif %}">
            <div class="res-title">
                {% if reservations[2].isReserved == true %}
                    Stalas rezervuotas
                {% else %}
                    Stalas laisvas
                {% endif %}
                            </div>

                            <div class="res-time"> {{ reservations[2].timeFrom}} - {{ reservations[2].timeTo }} </div>

                            {% if reservations[2].isReserved == false %}
                    <button class="res-button"> Rezervuoti </button>
                {% endif %}
        </div>

        <div class="reservation-item {% if reservations[3].isReserved %} booked {% endif %}">
            <div class="res-title">
                {% if reservations[3].isReserved == true %}
                    Stalas rezervuotas
                {% else %}
                    Stalas laisvas
                {% endif %}
                            </div>

                            <div class="res-time"> {{ reservations[3].timeFrom}} - {{ reservations[3].timeTo }} </div>

                            {% if reservations[3].isReserved == false %}
                    <button class="res-button"> Rezervuoti </button>
                {% endif %}
        </div>

         </div>
        <div class="col-md-2">  </div>







            </div>
        </div>
    </div>





{% endblock %}