<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ asset('bundles/indigomain/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/indigoui/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/indigomain/css/pixel-admin.min.css') }}">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ asset('bundles/indigomain/js/pixel-admin.min.js') }}"></script>
    <script src="{{ asset('bundles/indigomain/js/bootstrap.min.js') }}"></script>

</head>

<script>
    $(document).ready(function()
    {

        setInterval(function () {

            var status = $.get( "/live/status/1", function(data) {

                var json = $.parseJSON(data);

                if(json.isBusy)
                {
                    $("#widget-state").html("Occupied!").show();

                }
                else
                {
                    $("#widget-state").html("Free").show();
                }

                if(json.contest.title)
                {
                    $("#widget-title").text(json.contest.title);
                }
                else
                {
                    $("#widget-title").text("");
                }

                $("#widget-score").text(json.teamA.goals + " : " + json.teamB.goals);

                $('#widget-preloader').hide();
                $('#widget-title').show();
                $('#widget-state').show();

            });

        },2000);

    });

</script>


<body class="clear">

{#{% block content%}#}

    <div  id="widget-container" style=" border: none;" >
            <span id="widget-title" style="display: none; color: #fc8404;">  </span>
            <div id="widget-left-bar" style=" border: solid #fc8404 1px;">
                <span id="widget-score"> 0 : 0 </span>
            </div>
            <div id="widget-right-bar">
                <span id="widget-preloader" style="position: absolute; width: 50%; height: 100%; background: url({{ asset('bundles/indigoui/images/preloader-rect.gif') }}) no-repeat center"> </span>

                <span id="widget-state" class="text-xlg" style="display: none; line-height: 40px">  </span>
            </div>
    </div>

</body>

</html>

{#{% endblock %}#}