{% extends 'IndigoUIBundle:Share:_base.html.twig' %}

{% block title %}{{ 'user.profile'|trans }}{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('bundles/indigomain/bower_components/bootstrap-lightbox/bootstrap-lightbox.min.css') }}" rel="stylesheet" type="text/css"/>

    <style>
        table tbody tr td{
            background: none repeat scroll 0 0 #FAFAFA;
        }
        table tbody tr th{
            background: none repeat scroll 0 0 #EBEBEB;
        }
        table tbody tr td, table tbody tr th, h4.modal-title{
            color: #555;
        }
        table tbody tr th.vertical-center{
            vertical-align: middle !important;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>{{ 'user.profile'|trans }}</h1>
                <div class="table-light">
                    <div class="table-header">
                        <div class="table-caption">
                            {{ entity.email }}
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>{{ 'user.card_id'|trans }}</th>
                            <td>
                                {% if entity.cardId %}
                                    {{ entity.cardId }}
                                {% else %}
                                    {{ 'user.no_cardid'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'user.user_username'|trans }}</th>
                            <td>
                                {% if entity.username %}
                                    {{ entity.username }}
                                {% else %}
                                    {{ 'user.no_username'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'user.user_name'|trans }}</th>
                            <td>
                                {% if entity.name %}
                                    {{ entity.name }}
                                {% else %}
                                    {{ 'user.no_name'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'user.email'|trans }}</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'user.profile_picture'|trans }}</th>
                            <td>
                                {% if entity.pictureFile %}
                                <a data-toggle="lightbox" data-title="{{ 'user.profile'|trans }} | {{ entity.username }}" href="{{ asset('uploads/profiles_pictures/') }}{{ entity.pictureFile }}">
                                    <img src="{{ asset('uploads/profiles_pictures/') }}{{ entity.pictureFile }}" alt="*" width="100px" title="{{ 'user.profile'|trans }} | {{ entity.username }}"/>
                                </a>
                                {% else %}
                                    {{ 'user.no_picture'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'user.reg_date'|trans }}</th>
                            <td>{{ entity.registrationDate|date('Y-m-d H:i') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% if entity.id == user_id %}
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" title="{{ 'edit'|trans }}" class="pull-right btn btn-success" style="margin-right:5px;">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ 'edit'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('bundles/indigomain/bower_components/bootstrap-lightbox/bootstrap-lightbox.min.js') }}"></script>

    <script>
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock %}
