{% extends 'IndigoMainBundle:Pixel:base.html.twig' %}

{% block title %}{{ 'user.title.change_password'|trans }}{% endblock %}

{% block body_class %}theme-default page-signin{% endblock %}

{% block body %}
	<div id="page-signin-bg">
		<div class="overlay"></div>
	</div>

	<div class="signin-container">
		<div class="signin-form">

			{{ form_start(form) }}
				<div class="signin-text">
					<span>{{ 'user.title.change_password'|trans }}</span>
				</div>

				<div class="form-group w-icon">
					{{ form_widget(form.password.first, {'attr' : {'placeholder' : 'user.form.password'|trans}, 'invalid_message' : 'user.error.password_mismatch'|trans}) }}
					<span class="fa fa-lock signin-form-icon"></span>
				</div>

				<div class="form-group w-icon">
					{{ form_widget(form.password.second, {'attr' : {'placeholder' : 'user.form.repeat_password'|trans}}) }}
					<span class="fa fa-lock signin-form-icon"></span>
				</div>

                {% if form_errors(form.password.first) %}
				<div class="form-group w-icon">
						<div class="note note-danger">
							{{  form_errors(form.password.first) }}
						</div>
				</div>
				{% endif %}

				<div class="form-actions">
					{{ form_widget(form.change) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

	<div class="not-a-member">
		{{ 'user.not_member'|trans }} <a href="{{ path('register_action') }}">{{ 'user.sign_up_now'|trans }}</a>
	</div>
{% endblock %}

{% block javascripts %}
	{{  parent() }}
<script type="text/javascript">
	var init = [];

	// Resize BG
	init.push(function () {
		var $ph  = $('#page-signin-bg'),
		    $img = $ph.find('> img');

		$(window).on('resize', function () {
			$img.attr('style', '');
			if ($img.height() < $ph.height()) {
				$img.css({
					height: '100%',
					width: 'auto'
				});
			}
		});
	});
	window.PixelAdmin.start(init);
</script>
{% endblock %}